APP_NAME=Rasad API
APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:RvPWoZbng4WaW2S2oDZDVMeRkKB4djYIpQ/igccdCZA=
APP_URL=http://localhost:8000

API_KEY=rasad-local-secret

DB_CONNECTION=sqlite
DB_DATABASE=/data/database.sqlite

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
